<div class="footer-bottom-wrapper">
    <div class="container common-container four_content footer-bottom-container">
      <div class="footer-content clearfix">
        <div class="copyright-content">
          Website Content Managed by
          <strong>
            Department Name, Ministry Name,
            <a
              target="_blank"
              title="GoI, External Link that opens in a new window"
              href="https://www.india.gov.in/"
              ><strong>Government of India</strong></a
            >
          </strong>
          <br>
          <span>
            Designed, Developed and Hosted by
            <a
              target="_blank"
              title="NIC, External Link that opens in a new window"
              href="https://www.nic.in/"
              ><strong>National Informatics Centre</strong></a
            ><strong> (NIC)</strong>
          </span>
          <br>
          <span class="last-updated">
            Last Updated: <span id="lastupdated"></span>
          </span>
        </div>
        <p>
          copyright
          end of container
        </p>
      </div>
      <p>
      </p>
    </div>
  </div>
  