/* .lion1 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 95%;
    height: 82px;
    margin: 24px;
  }
  
  .one img {
    max-width: 100%;
  }
  
  .two {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .two a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .four img {
    max-width: 100%;
  }
   */


   /* .lion1{
    
    padding: 0px 20px;
    background-color: rgb(41, 147, 11);
    text-align: center;
   } */
   

   .lion1 {
    padding: 0px 20px;
    background-color: rgb(37, 157, 63);
    text-align: center;
    margin-top: 10px; /* Adjust the value as per your requirement */
    margin-bottom:-15px;
  }
  
  .one {
    display: flex;
    justify-content: center;
  }
  
  .national_emblem {
    max-width: 100%;
    height: auto;
  }
  