<div class="lion1">
    <div class="one">
      <img class="national_emblem" src="/assets/img/dark.png" alt="national emblem" />
    </div>
  
    <div class="two">
      <a href="home.html" title="Home" rel="home" class="header__logo" id="logo">
        <span>मंत्रालय / विभाग नाम</span>
      </a>
      <br />
      <a href="home.html" title="Home" rel="home" class="header__logo" style="font-weight: 1000">
        <span>Ministry / Department Name</span>
      </a>
    </div>
  
    <div class="four">
      <img src="/assets/img/spec.png" alt="Swachh Bharat" />
    </div>
  </div>
  