<div class="navbar">
    <a href="#">Feedback </a>
    <div class="dropdown">
      <button class="dropbtn">Websites Policies
        <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
       
      </div>
    </div> 


    <div class="dropdown">
        <button class="dropbtn">Contact Us
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Web Information Manager
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">FAQ'S
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Disclaimer
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Help
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">Terms and Conditions
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>

  </div>