.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    padding: 10px;
  }
  
  .cont1 {
    flex: 1;
    margin: 10px;
  }
  
  .cont1 p {
    padding: 10px;
  }
  
  .but {
    margin: 10px;
  }
  
  .image-box {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
    background-color: white;
  }
  
  .image-box img {
    max-width: 100%;
    max-height: 100%;
  }
.but img {
    
    height:44px;
width:47px;
}  