<!-- <div class="row">
    <div class="cont1 mt-5 mb-6">
      <p>
        Welcome to Ministry/Department
        <br /><br />
        An informative text section that outlines the work portfolio of the ministry and the initiatives/schemes and other useful purposes that the ministry website serves. An informative text section that outlines the work portfolio of the ministry and the initiatives/schemes and other useful purposes that the ministry website serves.
        <br /><br />
        An informative text section that outlines the work portfolio of the ministry and the initiatives/schemes and other useful purposes that the ministry website serves.
      </p>
    </div>
    <div class="but">
      <button type="button" class="btn btn-danger">Read More <i class="bi bi-arrow-right-square-fill"></i></button>
    </div>
  
    <div class="image-box">
      <img src="/assets/img/man.jpg" alt="Image" />
    </div>
  </div>
   -->
   <div class="row">
    <div class="cont1 mt-5 mb-6">
      <p>

       
        Welcome to Ministry/Department
        <br /><br />
        An informative text section that outlines the work portfolio of the ministry and the initiatives/schemes and other useful purposes that the ministry website serves. An informative text section that outlines the work portfolio of the ministry and the initiatives/schemes and other useful purposes that the ministry website serves.
        <br /><br />
        An informative text section that outlines the work portfolio of the ministry and the initiatives/schemes and other useful purposes that the ministry website serves.
      </p>
      <div class="but">
      <img src="/assets/img/readmore1.png" alt="">
      </div>
    </div>
  
    <div class="image-box">
      <img src="/assets/img/man.jpg" alt="Image" />
    </div>
  </div>
  