<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="row">
        <div class="box">
          <div class="right">
            <a
              style="font-weight: bold"
              class="bharat"
              target="_blank"
              href="https://india.gov.in/hi"
              title="भारत सरकार ( बाहरी वेबसाइट जो एक नई विंडो में खुलती है)"
              >भारत सरकार</a
            >
            <br />
            <a
              target="_blank"
              href="https://india.gov.in/"
              title="Government of India, External Link that opens in a new window"
              >Government of India</a>
          </div>
          <div class="mant">
            <span class="li_eng responsive_minis_eng" style="font-weight: 900;"
              >Ministry / Department Name</span
            >
            <br />
            <span class="responsive_minis_hi" lang="hi" 
              >मंत्रालय / विभाग नाम</span
            >
          </div>
  
  
          <div class="language-search-wrapper">
            <div class="language-switcher">
              <div class="skip">
                <a href="#skipCont" title="">Skip to main content</a>
              </div>
              <div class="social">
              
  
                
                <span>
                  <a href="https://google.com/" target="_blank"><img src="./assets/img/google.png" alt=""></a>
                  <a href="https://www.facebook.com/" target="www.facebook.com"><img src="./assets/img/facebook1.png" alt=""></a><br>
                  <a href="https://twitter.com/" target="_blank"><img src="./assets/img/twitter.png" alt=""></a>
               <a href="https://www.youtube.com/" target="_blank"><img src="./assets/img/youtube.png" alt=""></a>
             </span>
  
           
              
              </div>
  
              <div class="banner1">
                <img src="/assets/img/banner.png" alt="image" />
              </div>
            
  <div class="in">
  
    <button id="english-button" style="font-size: 15px;">English</button>
    <button id="hindi-button" style="font-weight: bold;">हिंदी</button>
  </div>
              
            </div>
  
            <div class="search1">
              <form class="d-flex" role="search">
                <input
                  class="form-control me-1"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>