<nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a>About Us</a>
        <ul class="dropdown">
          <li>
            <a routerLink="profile"
              ><i class="bi bi-caret-right-fill"></i>Profile</a
            >
          </li>
          <li>
            <a routerLink="mission"
              ><i class="bi bi-caret-right-fill"></i>Mission / Vision</a
            >
          </li>
          <li>
            <a routerLink="history"
              ><i class="bi bi-caret-right-fill"></i>History / Backgrounds</a
            >
          </li>
          <li>
            <a routerLink="cells"
              ><i class="bi bi-caret-right-fill"></i>Departments / Division /
              Cells</a
            >
          </li>
          <li>
            <a routerLink="roles"
              ><i class="bi bi-caret-right-fill"></i>Roles / Functions</a
            >
          </li>
          <li>
            <a routerLink="agencies"
              ><i class="bi bi-caret-right-fill"></i>Agencies under Administrative
              Control</a
            >
          </li>
          <li>
            <a routerLink="organisation"
              ><i class="bi bi-caret-right-fill"></i>Organisation Structure</a
            >
          </li>
          <li>
            <a routerLink="who"
              ><i class="bi bi-caret-right-fill"></i>Who's who</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Notices</a>
        <ul class="dropdown">
          <li>
            <a routerLink="announcements"
              ><i class="bi bi-caret-right-fill"></i>Announcements</a
            >
          </li>
          <li>
            <a routerLink="recruitments"
              ><i class="bi bi-caret-right-fill"></i>Recruitments</a
            >
          </li>
          <li>
            <a routerLink="circulars"
              ><i class="bi bi-caret-right-fill"></i>Circulars</a
            >
          </li>
          <li>
            <a routerLink="events"
              ><i class="bi bi-caret-right-fill"></i>Events</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Media</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/media/What's New"
              ><i class="bi bi-caret-right-fill"></i>What's New</a
            >
          </li>
          <li>
            <a routerLink="/media/Awards"
              ><i class="bi bi-caret-right-fill"></i>Awards</a
            >
          </li>
          <li>
            <a routerLink="/media/Photo Gallery"
              ><i class="bi bi-caret-right-fill"></i>Photo Gallery</a
            >
          </li>
          <li>
            <a routerLink="/media/Video Gallery"
              ><i class="bi bi-caret-right-fill"></i>Video Gallery</a
            >
          </li>
          <li>
            <a routerLink="/media/Press Releases"
              ><i class="bi bi-caret-right-fill"></i>Press Releases</a
            >
          </li>
          <li>
            <a routerLink="/media/Speeches"
              ><i class="bi bi-caret-right-fill"></i>Speeches</a
            >
          </li>
          <li>
            <a routerLink="/media/E-Book"
              ><i class="bi bi-caret-right-fill"></i>E-Book</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Act and Rules</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/act"
              ><i class="bi bi-caret-right-fill"></i>Right to Information Act</a
            >
          </li>
          <li>
            <a routerLink="/rules"
              ><i class="bi bi-caret-right-fill"></i>Other Acts and Rules</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Tenders</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/tenders/Recent"
              ><i class="bi bi-caret-right-fill"></i>Recent Tenders</a
            >
          </li>
          <li>
            <a routerLink="/tenders/Awarded"
              ><i class="bi bi-caret-right-fill"></i>Awarded Tenders</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/">Schemas</a>
      </li>
      <li>
        <a>Services</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/services/service1"
              ><i class="bi bi-caret-right-fill"></i>Service 1</a
            >
          </li>
          <li>
            <a routerLink="/services/service2"
              ><i class="bi bi-caret-right-fill"></i>Service 2</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Documents</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/documents/Publications"
              ><i class="bi bi-caret-right-fill"></i>Publications</a
            >
          </li>
          <li>
            <a routerLink="/documents/Reports"
              ><i class="bi bi-caret-right-fill"></i>Reports</a
            >
          </li>
          <li>
            <a routerLink="/documents/Office Orders"
              ><i class="bi bi-caret-right-fill"></i>Office Orders</a
            >
          </li>
          <li>
            <a routerLink="/documents/Policies"
              ><i class="bi bi-caret-right-fill"></i>Policies</a
            >
          </li>
          <li>
            <a routerLink="/documents/Budget"
              ><i class="bi bi-caret-right-fill"></i>Budget</a
            >
          </li>
          <li>
            <a routerLink="/documents/Citizen Charter"
              ><i class="bi bi-caret-right-fill"></i>Citizen Charter</a
            >
          </li>
          <li>
            <a routerLink="/documents/Major Achievements"
              ><i class="bi bi-caret-right-fill"></i>Major Achievements</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Grievance</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/grievance/submit"
              ><i class="bi bi-caret-right-fill"></i>Submit Grievance</a
            >
          </li>
          <li>
            <a routerLink="/grievance/status"
              ><i class="bi bi-caret-right-fill"></i>Grievance Status</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Parliaments Q&A</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/parliament/Lok Sabha"
              ><i class="bi bi-caret-right-fill"></i>Lok Sabha</a
            >
          </li>
          <li>
            <a routerLink="/parliament/Rajya Sabha"
              ><i class="bi bi-caret-right-fill"></i>Rajya Sabha</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Important Links</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/links/external"
              ><i class="bi bi-caret-right-fill"></i>External Links</a
            >
          </li>
          <li>
            <a routerLink="/links/internal"
              ><i class="bi bi-caret-right-fill"></i>Internal Links</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a>Contact Us</a>
        <ul class="dropdown">
          <li>
            <a routerLink="/contact/general"
              ><i class="bi bi-caret-right-fill"></i>General Contact</a>
          </li>
          <li>
            <a routerLink="/contact/support"
              ><i class="bi bi-caret-right-fill"></i>Support</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  