<nav style="text-align: center;">
  <!-- Toggle button for small screens -->
  <button id="toggle-menu-button" (click)="toggleMenu()" *ngIf="isSmallScreen">
    Toggle Menu
  </button>

  <ul *ngIf="!isSmallScreen">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a>About Us</a>
      <ul class="dropdown">
        <li>
          <a routerLink="aboutus1">
            <i class="bi bi-caret-right-fill"></i>Profile
          </a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
    <li>
      <a>Courses Offered</a>
      <ul class="dropdown">
        <li>
          <a routerLink="announcements">
            <i class="bi bi-caret-right-fill"></i>Diploma_In_Elementary_Education
          </a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
    <li>
      <a>Faculty Corner</a>
      <ul class="dropdown">
        <li>
          <a routerLink="photoss">
            <i class="bi bi-caret-right-fill"></i>Photo Gallery
          </a>
        </li>
        <li>
          <a routerLink="video">
            <i class="bi bi-caret-right-fill"></i>Video Gallery
          </a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
    <li>
      <a>Publication</a>
      <ul class="dropdown">
        <li>
          <a routerLink="adm">
            <i class="bi bi-caret-right-fill"></i>Admission NOTICE 2021-2022
          </a>
        </li>
        <li>
          <a routerLink="/tenders/Awarded">
            <i class="bi bi-caret-right-fill"></i>Awarded Tenders
          </a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
    <li>
      <a routerLink="/">Schemas</a>
    </li>
    <li>
      <a href="">Messages</a>
      <ul class="dropdown">
        <!-- Add sub-menu items here -->
      </ul>
    </li>
    <li>
      <a href="">Student Enquiry</a>
      <ul class="dropdown">
        <!-- Add sub-menu items here -->
      </ul>
    </li>
    <li>
      <a>Documents</a>
      <ul class="dropdown">
        <li>
          <a routerLink="submit">
            <i class="bi bi-caret-right-fill"></i>Admission
          </a>
        </li>
        <li>
          <a routerLink="manpowers">
            <i class="bi bi-caret-right-fill"></i>Man Power
          </a>
        </li>
        <li>
          <a routerLink="p6">
            <i class="bi bi-caret-right-fill"></i>Program
          </a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
    <li>
      <a>Important Links</a>
      <ul class="dropdown">
        <li>
          <a href="https://www.cbse.gov.in/">CBSE Official Website <i class="bi bi-caret-right-fill"></i></a>
        </li>
        <li>
          <a href="http://sikkim-hrdd.gov.in/">HRDD|Government Of Sikkim <i class="bi bi-caret-right-fill"></i></a>
        </li>
        <li>
          <a href="https://www.education.gov.in/">Ministry Of HRD <i class="bi bi-caret-right-fill"></i></a>
        </li>
        <li>
          <a href="https://sikkim.gov.in/">Sikkim Government Website <i class="bi bi-caret-right-fill"></i></a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
    <li>
      <a>Contact Us</a>
      <ul class="dropdown">
        <li>
          <a routerLink="generalc">
            <i class="bi bi-caret-right-fill"></i>General Contact
          </a>
        </li>
        <!-- Add more sub-menu items here -->
      </ul>
    </li>
  </ul>
</nav>
