<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a>About Us</a>
      <ul class="dropdown">
        <li>
          <a routerLink="aboutus1"
            ><i class="bi bi-caret-right-fill"></i>Profile</a
          >
        </li>
        <li>
          <a routerLink="mission"
            ><i class="bi bi-caret-right-fill"></i>Mission / Vision</a
          >
        </li>
        <li>
          <a routerLink="history"
            ><i class="bi bi-caret-right-fill"></i>History / Backgrounds</a
          >
        </li>
        <li>
          <a routerLink="cells"
            ><i class="bi bi-caret-right-fill"></i>Departments / Division /
            Cells</a
          >
        </li>
        <li>
          <a routerLink="roles"
            ><i class="bi bi-caret-right-fill"></i>Roles / Functions</a
          >
        </li>
        <li>
          <a routerLink="agencies"
            ><i class="bi bi-caret-right-fill"></i>Agencies under Administrative
            Control</a
          >
        </li>
        <li>
          <a routerLink="organisation"
            ><i class="bi bi-caret-right-fill"></i>Organisation Structure</a
          >
        </li>
        <li>
          <a routerLink="who"
            ><i class="bi bi-caret-right-fill"></i>Who's who</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Courses Offered</a>
      <ul class="dropdown">
        <li>
          <a routerLink="announcements"
            ><i class="bi bi-caret-right-fill"></i>Diploma_In_Elementary_Education</a
          >
        </li>
        <li>
          <a routerLink="recruitments"
            ><i class="bi bi-caret-right-fill"></i>Recruitments</a
          >
        </li>
        <li>
          <a routerLink="circulars"
            ><i class="bi bi-caret-right-fill"></i>Circulars</a
          >
        </li>
        <li>
          <a routerLink="events"
            ><i class="bi bi-caret-right-fill"></i>Events</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Faculty Corner</a>
      <ul class="dropdown">
        <li>
          <a routerLink="whats"
            ><i class="bi bi-caret-right-fill"></i>What's New</a
          >
        </li>
        <li>
          <a routerLink="awards"
            ><i class="bi bi-caret-right-fill"></i>Awards</a
          >
        </li>
        <li>
          <a routerLink="photo"
            ><i class="bi bi-caret-right-fill"></i>Photo Gallery</a
          >
        </li>
        <li>
          <a routerLink="video"
            ><i class="bi bi-caret-right-fill"></i>Video Gallery</a
          >
        </li>
        <li>
          <a routerLink="press"
            ><i class="bi bi-caret-right-fill"></i>Press Releases</a
          >
        </li>
        <li>
          <a routerLink="speeches"
            ><i class="bi bi-caret-right-fill"></i>Speeches</a
          >
        </li>
        <li>
          <a routerLink="ebook"
            ><i class="bi bi-caret-right-fill"></i>E-Book</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Student Corner</a>
      <ul class="dropdown">
        <li>
          <a routerLink="RIA"
            ><i class="bi bi-caret-right-fill"></i>Search By Name</a
          >
        </li>
        <li>
          <a routerLink="otr"
            ><i class="bi bi-caret-right-fill"></i>Search By Batch</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Publication</a>
      <ul class="dropdown">
        <li>
          <a routerLink="/tenders/Recent"
            ><i class="bi bi-caret-right-fill"></i>Admission NOTICE 2021-2022</a
          >
        </li>
        <li>
          <a routerLink="/tenders/Awarded"
            ><i class="bi bi-caret-right-fill"></i>Awarded Tenders</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/">Schemas</a>
    </li>
    <li>
      <a>Messages</a>
      <ul class="dropdown">
        <li>
          <a routerLink="service1"
            ><i class="bi bi-caret-right-fill"></i>Service 1</a
          >
        </li>
        <li>
          <a routerLink="service2"
            ><i class="bi bi-caret-right-fill"></i>Service 2</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Student Enquiry</a>
      <ul class="dropdown">
        <li>
          <a routerLink="publications"
            ><i class="bi bi-caret-right-fill"></i>Publications</a
          >
        </li>
        <li>
          <a routerLink="reports"
            ><i class="bi bi-caret-right-fill"></i>Reports</a
          >
        </li>
        <li>
          <a routerLink="office"
            ><i class="bi bi-caret-right-fill"></i>Office Orders</a
          >
        </li>
        <li>
          <a routerLink="policies"
            ><i class="bi bi-caret-right-fill"></i>Policies</a
          >
        </li>
        <li>
          <a routerLink="budgets"
            ><i class="bi bi-caret-right-fill"></i>Budget</a
          >
        </li>
        <li>
          <a routerLink="citizens"
            ><i class="bi bi-caret-right-fill"></i>Citizen Charter</a
          >
        </li>
        <li>
          <a routerLink="major"
            ><i class="bi bi-caret-right-fill"></i>Major Achievements</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Grievance</a>
      <ul class="dropdown">
        <li>
          <a routerLink="submit"
            ><i class="bi bi-caret-right-fill"></i>Submit Grievance</a
          >
        </li>
        <li>
          <a routerLink="gs"
            ><i class="bi bi-caret-right-fill"></i>Grievance Status</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Parliaments Q&A</a>
      <ul class="dropdown">
        <li>
          <a routerLink="loksabha"
            ><i class="bi bi-caret-right-fill"></i>Lok Sabha</a
          >
        </li>
        <li>
          <a routerLink="rajyasabha"
            ><i class="bi bi-caret-right-fill"></i>Rajya Sabha</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Important Links</a>
      <ul class="dropdown">
        <li>
          <a routerLink="externallinks"
            ><i class="bi bi-caret-right-fill"></i>External Links</a
          >
        </li>
        <li>
          <a routerLink="internallinks"
            ><i class="bi bi-caret-right-fill"></i>Internal Links</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a>Contact Us</a>
      <ul class="dropdown">
        <li>
          <a routerLink="generalc"
            ><i class="bi bi-caret-right-fill"></i>General Contact</a>
        </li>
        <li>
          <a routerLink="supportc"
            ><i class="bi bi-caret-right-fill"></i>Support</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>