<div class="image-container">
   <img src="assets/img/profilebanner.jpg" alt="">
</div>

   <section id="paragraph" class="wrapper paragraph-wrapper">
    <div class="container common-container four_content">
      <h3>HEADING 1</h3>
      <hr>
      <p>
        Descriptions of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
      </p>
      <hr />
      <div class="align-rt">
        <div class="paragraph-text">
          <h3>Sub-heading 1</h3>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
  <a href="#" class="more">View More</a>
        </div>
        <div class="paragraph-image">
            <img src="assets/img/frame.jpg" alt="" />
        </div>
      </div>
      <hr />
      <div class="align-rt">
        <div class="paragraph-text">
          <h3>Sub-heading 2</h3>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
  
          <p>Description of the sub-heading 2 goes here...</p>
          <a href="#" class="more">View More</a>
        </div>
        <div class="paragraph-image">
          <img src="assets/img/frame.jpg" alt="" />
        </div>
      </div>
      <hr />
    </div>
  </section>
  



  <section id="list" class="wrapper list-wrapper">
    <div class="container common-container four_content">
       <h3>Unordered List</h3>
       <div class="list list-circle">
          <h4>List 1</h4>
          <ul class="clearfix">
             <li>List Item 1</li>
             <HR>
             <li>List Item 2</li>
             <HR>

             <li>List Item 3</li>
             <HR>

             <li>List Item 4</li>
          </ul>
       </div>
       <hr >
       <div class="list list-bullet">
          <h4>List 2</h4>
          <ul class="clearfix">
             <li>List Item 1</li>             <HR>

             <li>List Item 2</li>
             <HR>
             <li>List Item 3</li>
             <HR>
             <li>List Item 4</li>
             
          </ul>
       </div>
       <hr />
    </div>
 </section>


<!--  table -->

<h3 style="text-align:center ;">Department Official</h3>
 
<section id="tables" class="wrapper1 tables-wrapper">
   
   <div class="container common-container four_content">
      <div class="scroller">
         <table>
            <tbody>
               <tr>
                  <th>Serial No.</th>
                  <th>NAME</th>
                  <th>DESIGNATION</th>
                  <th>TEL NO.(O)</th>
                  <th>TEL NO.(R)</th>
                  <th>Email Address</th>
                  <th>OFFICE ADDRESS</th>
               </tr>
               <tr>
                  <td>1</td>
                  <td>Shri xyz</td>
                  <td>Direction</td>
                  <td>12345678</td>
                  <td>87654321</td>
                  <td>abc@nic.in</td>
                  <td>New Delhi</td>
               </tr>
               <tr>
                  <td>2</td>
                  <td>Shri xyz</td>
                  <td>Direction</td>
                  <td>12345678</td>
                  <td>87654321</td>
                  <td>abc@nic.in</td>
                  <td>New Delhi</td>
               </tr>
               <tr>
                  <td>3</td>
                  <td>Shri xyz</td>
                  <td>Direction</td>
                  <td>12345678</td>
                  <td>87654321</td>
                  <td>abc@nic.in</td>
                  <td>New Delhi</td>
               </tr>
               <tr>
                  <td>4</td>
                  <td>Shri xyz</td>
                  <td>Direction</td>
                  <td>12345678</td>
                  <td>87654321</td>
                  <td>abc@nic.in</td>
                  <td>New Delhi</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</section>

<app-footerimage></app-footerimage>
 <app-footer></app-footer>