
   <section id="paragraph" class="wrapper paragraph-wrapper">
    <div class="container common-container four_content">
      <h3>HEADING 1</h3>
      <hr>
      <p>
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
        Description of the main heading goes here. An informative text section
        that outlines the work portfolio of the ministry and the initiatives/
        schemes and other useful purpose that the ministry website serves.
      </p>
      <hr />
      <div class="align-rt">
        <div class="paragraph-text">
          <h3>Sub-heading 1</h3>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
  <a href="#" class="more">View More</a>
        </div>
        <div class="paragraph-image">
          <img src="assets/img/facebook1.png" alt="" />
        </div>
      </div>
      <hr />
      <div class="align-rt">
        <div class="paragraph-text">
          <h3>Sub-heading 2</h3>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
          <p>
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
            Description of the main heading goes here. An informative text section
            that outlines the work portfolio of the ministry and the initiatives/
            schemes and other useful purpose that the ministry website serves.
          </p>
  
          <p>Description of the sub-heading 2 goes here...</p>
          <a href="#" class="more">View More</a>
        </div>
        <div class="paragraph-image">
          <img src="assets/img/facebook1.png" alt="" />
        </div>
      </div>
      <hr />
    </div>
  </section>
  