<!-- <div class="container">
    <div class="box">
      <a>What's new</a>
      <p><i class='bi bi-caret-right-fill'> {{message1 }}</i></p>
    </div>
    <div class="box">
      <a>Press Releases</a>
      <p><i class='bi bi-caret-right-fill'> {{message2}}</i></p>
    </div>
    <div class="box">
      <a>News</a>
      <p><i class='bi bi-caret-right-fill'> {{message3 }}</i></p>
    </div>
  </div> -->
<div class="container">
  <div class="box">
    <a>What's new</a>
    <p *ngFor="let message of messages1">
      <i class="bi bi-caret-right-fill"> {{ message }} </i>
    </p>

    <a href="/assets/pdf/pdf1.pdf"
      ><button>ADMISSION NOTICE 2023-2024</button></a
    >
    <a href="/assets/pdf/pdf2.pdf"
      ><button>COMPILATION OF RESEARCH STUDIES</button></a
    >
  </div>
  <div class="box">
    <a>Press Releases</a>
    <p *ngFor="let message of messages2">
      <i class="bi bi-caret-right-fill"> {{ message }}</i>
    </p>
  </div>
  <div class="box">
    <a>News</a>
    <p *ngFor="let message of messages3">
      <i class="bi bi-caret-right-fill"> {{ message }}</i>
    </p>
  </div>
</div>
