
<div class="mid">
    <ul class="navbar">
      <li>
        <p> <strong class="strong">

            ACHIEVEMENTS <br>
        </strong>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Achievements 1 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Achievements 2 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Achievements 3 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Achievements 4 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Achievements 5 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
      <li>
        <p><strong class="strong">
            CIRCULARS <br>

        </strong>
       
          <button onclick="location.href='./assets/pdf/blank.pdf';">Circular 1 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Circular 2 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Circular 3 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Circular 4 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Circular 5 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
      <li>
        <p>
            <strong class="strong">

                ANNUAL REPORTS <br>
            </strong>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Annual Reports 1 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Annual Reports 2 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Annual Reports 3 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Annual Reports 4 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Annual Reports 5 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
      <li>
        <p>
            <strong class="strong">

                DOWNLOADS <br>
            </strong>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Downloads 1 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Downloads 2 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Downloads 3 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Downloads 4 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">Downloads 5 &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
    </ul>
    
    
  <div class="info-box">
    <h2>Important Information 1</h2>
    <p>This is a reference text to see the layout.This may be replaced with relevant content</p>
    <h2>Important Information 2</h2>
    <p>This is a reference text to see the layout.This may be replaced with relevant content</p>
    <h2>Important Information 3</h2>
    <p>This is a reference text to see the layout.This may be replaced with relevant content</p>
    
  </div>
</div>