.mid {
    margin: 14px 6px;
    display: flex;
    flex-direction: column; /* Change flex-direction to column for mobile devices */
    align-items: center; /* Center the content horizontally on mobile devices */
    background-color: #087959;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap; /* Allow navbar items to wrap to the next line on smaller screens */
    list-style-type: none;
    padding: 0;
    margin: 14px;
    justify-content: center; /* Center the navbar items horizontally */
  }
  
  .navbar li {
    margin: 10px;
  }
  
  .navbar button {
    margin: 12px;
    border-radius: 2px;
    color: white;
    background-color: #087959;
    border-color: #087959;
  }
  
  .strong{
     border :2px solid black; 
     border-radius: 5px;
  }
    .strong:hover{
      background-color: #9c5c0e;
      color: white;
      
    }
  
  .info-box {
    border: 1px solid #ccc;
    margin-top: 30px; /* Add some top margin for better spacing on smaller screens */
    padding: 20px;
    width: 100%; /* Make the info-box responsive and take the full width */
    background-color: #daf8f0;
    text-align: center;
  }
  
  .info-box h2 {
    font-size: 18px;
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
  }
  