
<div class="mid">
    <ul class="navbar">
      <li>
        <p> <strong class="strong">

            ACHIEVEMENTS <br>
        </strong>
          <button onclick="location.href='./assets/pdf/pdf3.pdf';">NOTICE 1 <img src="/assets/img/down.png" > &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/pdf4.pdf';">NOTICE 2 <img src="/assets/img/down.png" > &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';"> BLANK  &nbsp;  &nbsp; <img src="/assets/img/down.png" > &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK   &nbsp;  &nbsp; <img src="/assets/img/down.png" > &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK  &nbsp;  &nbsp; <img src="/assets/img/down.png" >   &nbsp;<i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
      <li>
        <p><strong class="strong">
            CIRCULARS <br>

        </strong>
       
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
      <li>
        <p>
            <strong class="strong">

                ANNUAL REPORTS <br>
            </strong>
          <button onclick="location.href='./assets/pdf/pdf5.pdf';">Annual Reports 1 <img src="/assets/img/down.png" ><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/pdf6.pdf';">Annual Reports 2 <img src="/assets/img/down.png" ><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK      &nbsp;     &nbsp;    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;       <img src="/assets/img/down.png" ><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK &nbsp;     &nbsp;    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;       <img src="/assets/img/down.png" ><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK &nbsp;     &nbsp;    &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;       <img src="/assets/img/down.png" ><i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
      <li>
        <p>
            <strong class="strong">

                PRESS RELEASES <br>
            </strong>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
          <br>
          <button onclick="location.href='./assets/pdf/blank.pdf';">BLANK&nbsp;<img src="/assets/img/down.png"><i
              class="bi bi-filetype-pdf"></i></button>
        </p>
      </li>
    </ul>
    
    
  <div class="info-box">
    <h2>Important Information 1</h2>
    <p>This is a reference text to see the layout.This may be replaced with relevant content</p>
    <h2>Important Information 2</h2>
    <p>This is a reference text to see the layout.This may be replaced with relevant content</p>
    <h2>Important Information 3</h2>
    <p>This is a reference text to see the layout.This may be replaced with relevant content</p>
    
  </div>
</div>