<div class="container-fluid footer">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <a target="_blank" href="http://digitalindia.gov.in/" title="Digital India, External Link that opens in a new window">
          <img src="./assets/img/digitalimage1.png" alt="Digital India" />
        </a>
        <a target="_blank" href="http://www.makeinindia.com/" title="Make In India, External Link that opens in a new window">
          <img src="./assets/img/makeinindia.png" alt="Make In India" />
        </a>
        <a target="_blank" href="http://india.gov.in/" title="National Portal of India, External Link that opens in a new window">
          <img src="./assets/img/india.png" alt="National Portal of India" />
        </a>
        <a target="_blank" href="http://goidirectory.nic.in/" title="GOI Web Directory, External Link that opens in a new window">
          <img src="./assets/img/goi.png" alt="GOI Web Directory" />
        </a>
        <a target="_blank" href="https://data.gov.in/" title="Data portal, External Link that opens in a new window">
          <img src="./assets/img/data.png" alt="Data portal" />
        </a>
        <a target="_blank" href="https://mygov.in/" title="MyGov, External Link that opens in a new window">
          <img src="./assets/img/mygov.png" alt="MyGov Portal" />
        </a>
      </div>
    </div>
  </div>
  