<div class="navbar">
    <a href="https://nct.ac.in/">NCT</a>
    <div class="dropdown">
      <button class="dropbtn">
        <a href="https://ncert.nic.in/">  NCERT</a>

        <i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
       
      </div>
    </div> 
<div class="dropdown">
        <button class="dropbtn">
            <a href="https://scertsikkim.in/">SCERT</a>
          
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
            <a href="https://sikkimhrdd.org/">HRDD (Govt. of Sikkim)</a>

            
            
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
            <a href="https://www.education.gov.in/">  MINISTER OF HRD</a>

            
          
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
            <a href="https://sikkim.gov.in/"> Sikkim Government Website</a>
 
           
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          
        </div>
      </div>


  </div>