<div class="row">
  <div class="image">
    <img src="/assets/img/maam.jpg" alt="" class="responsive-image" />
  </div>
</div>

<div class="row_one">
  <div class="header">
    <h2 class="row">ROLES OF DIET</h2>

    <div class="info">
      <ul>
        <li>conducts 2-year D.EL, ED course</li>
        <li>
          Conducts short term need based in-service training/Workshop especially
          at primary level to H.Ms, &amp; Primary Teachers
        </li>
        <li>
          Conducts Orientation programmes for other functionaries working for
          teacher education e.g. BRCs, CRCs, SMCs , Aaganwadi workers ,etc.
        </li>
        <li>
          Monitors and supervises educational institutions in their
          jurisdiction.
        </li>
        <li>
          Extends support for professional development of teacher educators
        </li>
        <li>
          Develops locally relevant Teaching Learning Materials (TLM),
          evaluation tools etc.
        </li>
        <li>
          Develops Training Modules, Curriculum and syllabus for in-service
          teacher training.
        </li>
        <li>
          Extend support in writing text books, moderation & evaluation of
          Questions.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- 
    pdf section
   -->

<div class="pdf6">
  <div class="row1">
    <div class="row">
      <h3>Program</h3>
    </div>

    
    <p>
      1. 2-YEAR DIPLOMA IN ELEMENTARY EDUCATION (D.EL.ED)' The total number of
      in-service and pre-service teacher trainees undergoing 2-year D.El.Ed.
      programme at DIET, Gangtok are as under
    </p>
    <a href="/assets/pdf/pdf11.pdf"
      >2 YEAR DIPLOMA IN ELEMENTARY EDUCATION (D.EL.ED)<img
        src="/assets/img/down.png"
    /></a>
    <br />

    <HR />
    <P>
      2. SCHOOL INTERNSHIP PROGRAMME-2012-13 School Internship Programme is one
      of the important practical components of the course and it is conducted in
      the 2nd year. During School Internship Programme teacher trainees are sent
      to different schools in their respective districts to enable them to gain
      real classroom teaching experience. The faculty of DIET need to visit the
      schools for monitoring and evaluation. Last year the programme was
      conducted for 15 days w.e.f. October 3-20, 2012. The detail of the School
      Internship Programme undertaken by the trainees for the year 2012-2013 is
      as under:
    </P>

    <a href="/assets/pdf/pdf12.pdf"
      >SCHOOL INTERNSHIP PROGRAM 2012-13<img src="/assets/img/down.png"
    /></a>
    <HR />
    <P>
      4. SHORT TERM IN-SERVICE TRAINING PROGRAMMES TO BE UNDERTAKEN BY DIET
      Short Term In-service training programmes to be undertaken by DIET, East,
      Gangtok for the financial year 2013-2014 are as under:
    </P>
    <a href="/assets/pdf/pdf13.pdf"
      >SHORT TERM IN SERVICE TRAINING PROGRAM TO BE UNDERTAKEN BY DIET<img
        src="/assets/img/down.png"
    /></a>
    <HR />
    <P>
      5. FACULTY DEVLOPEMENT Faculty of DIET not only conducts programmes but
      also undergo varieties of training programs at NERIE, Shillong, NCERT,
      NUEPA, New Delhi to update themselves with the new development pertaining
      to teacher education. The following tables show the Trainings attended by
      the faculty of DIET Gangtok during the year 2012-13.
    </P>
    <a href="/assets/pdf/pdf14.pdf"
      >FACULTY DEVELPOMENT<img src="/assets/img/down.png"
    /></a>
    <HR />
    <P>
      6. DISTANCE EDUCATION PROGRAMME' In addition to the above mentioned
      programmes DIET, Gangtok, is also undertaking Distance Education Programme
      through IGNOU for D.El.Ed Course for In-service teachers from the year
      2013 onwards. There are around 546 untrained primary teachers appointed
      after September 2001. In order to clear the backlog, 186 nos. of untrained
      primary teachers have been enrolled in IGNOU in the year 2011 for the said
      course. 87 primary teachers have enrolled at DIET, Gangtok and the
      remaining 99 teachers are enrolled in DRC South Namchi.
    </P>
    <a href="/assets/pdf/pdf15.pdf"
      >DISTANCE EDUCATION PROGRAMME<img src="/assets/img/down.png"
    /></a>
    <br>
    <br>
  </div>
</div>
<br />
<br />
<app-footerimage></app-footerimage>
<app-bottomnavbar></app-bottomnavbar>
<app-footer></app-footer>
