.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.image {
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: -15px;
  
}
