<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="image-wrapper">
        <img src="./assets/img/text.jpg" alt="Image 1" class="img-fluid">
      </div>
    </div>
    <div class="col-md-4">
      <div class="image-wrapper">
        <img src="./assets/img/text.jpg" alt="Image 2" class="img-fluid">
      </div>
    </div>
    <div class="col-md-4">
      <div class="image-wrapper">
        <img src="./assets/img/text.jpg" alt="Image 3" class="img-fluid">
      </div>
    </div>
    <div class="col-md-4">
      <div class="video-section"> 
       
        <h3>Video Section</h3>
        <video src="./assets/videos/video.mp4" controls></video>
      </div>
    </div>
  </div>
</div>
 -->