<div class="photo-section">
  <div class="row">
    <H3>PHOTO GALLERY</H3>
    <img src="/assets/img/MAAM1.jpeg" alt="Photo 1">
    <img src="/assets/img/MAAM2.jpeg"alt="Photo 2">
    <img src="/assets/img/MAAM3.jpeg"alt="Photo 3">
    <img src="/assets/img/MAAM4.jpeg" alt="Photo 4"><br>
    <img src="/assets/img/new.jpeg" alt="Photo 1">
    <img src="/assets/img/new1.jpeg" alt="Photo 1">
    <img src="/assets/img/new2.jpeg" alt="Photo 1">
    <img src="/assets/img/new3.jpeg" alt="Photo 1">
    <img src="/assets/img/new4.jpeg" alt="Photo 1">
    <img src="/assets/img/new5.jpeg" alt="Photo 1">
    <img src="/assets/img/new6.jpeg" alt="Photo 1">
    <img src="/assets/img/new7.jpeg" alt="Photo 1">





  </div>
</div>
